.projectname {
    width: 80%;
    margin: 1em auto;
    color: #FF8800;
    font-weight: 900;
}

.tagline {
    width: 78%;
    font-size: 30px;
    margin: 1em auto;
    color: #FFA07A;
    font-weight: 900;
}

.homepage-module {
    width: 80%;
    margin: 1em auto;
}

.homepage-card {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.homepage-image {
    transition: background-color 0.5s ease;
    background-color: red;
    width: 320px;
    height: 320px;
}

.row {
    margin-top: 4em;
    margin-bottom: 2em;
}

.homepage-image-text {
   font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 0 auto;
   text-align: center;
   font-size: 3em;
   color: white;
   position: absolute;
   top: 130px;
   left: 0;
   width: 320px;
}

.subpage {
    width: 80%;
    margin: 1em auto;
}

.subpage-feed {
    background-color: #2a2a2a;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    float: left;
    width: 25%;
}

.subpage-feed-photo-row {
    margin: 25px;
}

.subpage-feed-photo {
    border-radius: 5px;
    display: block;
    width: 90%;
    margin: 5px auto;
}

.subpage-content {
    margin-top: 2.5em;
    margin-left: 30%;
}

.subpage-header {
    margin: 0.1em;
}

.map-gic {
  height: 300px;
  width: 100%;
}
