.tagline {
    width: 80%;
    margin: 1em auto;
}

.homepage-module {
    width: 80%;
    margin: 1em auto;
}

.homepage-card {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.homepage-image {
    transition: background-color 0.5s ease;
    background-color: red;
    width: 320px;
    height: 320px;
}

.row {
    margin-top: 4em;
    margin-bottom: 2em;
}

.homepage-image-text {
   font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 0 auto;
   text-align: center;
   font-size: 3em;
   color: white;
   position: absolute;
   top: 130px;
   left: 0;
   width: 320px;
}

.subpage {
    width: 80%;
    margin: 1em auto;
}

.subpage-feed {
    float: left;
    width: 340px;
}

.subpage-feed-photo {
    width: 100%;
}
