<!doctype>
<html style="background-color:#F8F8FF">
  <head>
      <title>JetBlue Dibs</title>
      <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
      <link rel="stylesheet" type="text/css" href="static/css/hover.css">
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>
      <div id="home">
      </div>
      <script src="static/js/home.js"></script>
  </body>
</html>
