<!doctype>
<html>
  <head>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src='/static/js/api.js'></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/css/style.css' />

  </head>

  <body>
    <div id='main' class='container'>

      <div id='tagline'>
        <h1>dibs.</h1>
      </div>

      <div id='pics'>

      </div>
    </div>
  </body>
</html>
